<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Rental</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">Tambah Rental DVD</h1>
        <form action="/rentals/add" method="post">
            <div class="form-group">
                <label for="memberId">ID Anggota:</label>
                <input type="number" class="form-control" id="memberId" name="memberId" required>
            </div>
            <div class="form-group">
                <label for="dvdId">ID DVD:</label>
                <input type="number" class="form-control" id="dvdId" name="dvdId" required>
            </div>
            <div class="form-group">
                <label for="rentalDate">Tanggal Ambil Rental:</label>
                <input type="date" class="form-control" id="rentalDate" name="rentalDate" required>
            </div>
            <div class="form-group">
                <label for="returnDate">Tanggal Kembali Rental:</label>
                <input type="date" class="form-control" id="returnDate" name="returnDate">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Add Rental</button>
        </form>
        <a href="/rentals" class="btn btn-secondary btn-block mt-3">Back to Rentals</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>